- releases = YAML.load_file(Rails.root.join('RELEASES.yml'))
%h2
  Release Notes

%table.table.table-hover.table-condensed
  %tr
    %th
      Release Version
    %th
      Release Date
  - releases.keys.each do |release|
    %tr
      %td
        %a{:href=>"##{release}"}
          = release
      %td
        = releases[release]['Date']

%table.table.table-hover.table-condensed
  - releases.each do |release, data|
    %tr
      %td{:colspan=>3}
        %span{:style=>'font-size: 1em;font-weight: bold;'}
          %a{:name => release}
            Version #{release}

    - data.each do |comp, details|
      - next if comp =~ /date/i
      %tr
        %th{:style=>'border: 0;'}
          &nbsp;
        %th{:style=>'border-color: white;'}
          = comp
      - details.each do|key, value|
        %tr
          %td{:style=>'border: 0;'}
            &nbsp;
          %td
            %span{:style=>'font-weight:normal'}
              - if (match = key.match(/((cdngm|PERSSERANA)-\d+)/i))
                - jira = match.captures.first.downcase
                %a{:href=>'//jira.walmart.com/browse/' + jira,
                  :target => '_blank', :style=>'white-space:nowrap;'}
                  = jira
              - else
                = key
          %td
            %span{:style=>'font-weight:normal'}
              - if (match = key.match(/new\s+features/i))
                %a{:href=>value, :target => '_blank', :style=>'white-space:nowrap;'}
                  = value
              - else
                = value
    %tr
      %td{:style=>'border: 0;'}
        %br
