:javascript
  var Selected_Date = new Date(
    #{@date.year}, #{@date.month-1}, #{@date.day});
  var Available_weeks = #{@available_weeks.to_json} 
  var Min_date = new Date(
    #{@min_date.year}, #{@min_date.month - 1}, #{@min_date.day});
  var Max_date = new Date(
    #{@max_date.year}, #{@max_date.month - 1}, #{@max_date.day});

#cad-breadcrumb

#search-sub-tasks
  .tabs
  .search-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  
  .overview
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
        
#browse-sub-tasks
  .tabs
  .browse-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
        
#category-sub-tasks
  .tabs
  .category-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'

#summary-metric-car.carousel.slide{'data-interval' => 'false'}
  .carousel-inner
    #overall-metrics.active.item
      = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
    #summary-metrics.item
      = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
    .item{style: 'height: 900px'}
      #winners.winners{style: 'height:20em'}
        = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
      
    #search-view.item.details{style: 'height: 1100px'}
      #search-sub-tabs
        = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
      #search-sub-content
        = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
      #search-amazon-content{:style=>'display:none;'}
        %ul.nav.nav-pills
          %li.all-items.active
            %a{:href=>'#'}
              All Items
          %li.in-top-32
            %a{:href=>'#'}
              Items In Top 32
          %li.not-in-top-32
            %a{:href=>'#'}
              Items Not In Top 32
    #sig-comp.item
      = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
    
#ndcg
  #ndcg-distribution
  .winners
  .loosers
      

#search-quality
  #search-quality-queries
    #search-quality-filter
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
   
/
  #trending{:style=>'display:none'}
    %ul.nav.nav-pills.trending
      %li.active
        %a.pp{:href=>"#"}
          Poor performing within last 30 days
      %li
        %a.up{:href=>"#"}
          Trending Queries

      %li.period-selector{:style=>'display:none'}
        %span
          &nbsp;
        %label.radio.inline
          %input.two-days{:type => :radio, :value => '2', 
            :name=>:trending_radio, :checked => true}
          last 2 days
        
        %label.radio.inline
          %input.one-week{:type => :radio, :value => '7', :name=>:trending_radio}
          last 1 week

        %label.radio.inline
          %input.two-week{:type => :radio, :value => '14', :name=>:trending_radio}
          last 2 weeks

        %label.radio.inline
          %input.three-week{:type => :radio, :value => '21', :name=>:trending_radio}
          last 3 weeks
        
        %label.radio.inline
          %input.four-week{:type => :radio, :value => '28', :name=>:trending_radio}
          last 4 weeks


  .pp-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  .up-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'

#search-kpi
  .hcharts-paid
  .hcharts-unpaid
   
#query-monitoring
  / #qm-count
  /   #qm-count-filter
  / #qm-metrics
  /   = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #qm-filter
  = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #qm-table-content
  
  #qm-count-sub-tabs
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #qm-count-sub-content
  #qm-metrics-sub-content
    #con-stats
    #pvr-stats
    #atc-stats
    

#adhoc-query-report
  #cvr-dropped-query-form
  #cvr-dropped-query-results
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #search-results
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'


