:javascript
  var Selected_Date = new Date(#{@date.year}, #{@date.month - 1}, #{@date.day})
  var Selected_Week = #{QueryPerformance.available_weeks.first[:week]};
  var Selected_Year = #{@year};
  
#dashboard.row-fluid
  .span6
    #dashboard-search-quality-container
      .content-header
        Search Quality Queries
        %button.close.pull-right
          &times;
      .content
        = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
        
  .span6
    #dashboard-poorly-performing-container
      .content-header
        Poorly Performing Product Intents
        %button.close.pull-right
          &times;
      .content
        = image_tag 'ajax_loader.gif', :class=>'ajax-loader'

#search-quality
  #search-quality-queries
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #query-items-tab
  #query-items-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
   
#poor-performing
  #poor-performing-queries
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'

  #poor-performing-subtabs
  #poor-performing-subtabs-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
  #hcharts
    
#search-kpi
  .hcharts-paid
  .hcharts-unpaid
   
#search
  #search-form{:style=>'text-align:center'}
  #search-stats-hcharts

  #search-subtabs
  #search-subtabs-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
   
#comp-analysis
  #ca-queries
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'

  #ca-subtabs
  #ca-amazon-overlap

  #ca-amazon-top-subtabs{:style=>'display:none;'}
    %ul.nav.nav-pills
      %li.all-items.active
        %a{:href=>'#'}
          All Items
      %li.in-top-32
        %a{:href=>'#'}
          Items In Top 32
      %li.not-in-top-32
        %a{:href=>'#'}
          Items Not In Top 32

  #ca-subtabs-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
    
#query-perf-comparison
  #query-comparison-fcharts
    .row
      .span6
        .query-form
      .span5.offset1
        .recent-searches
          
    .row
      .span12
        .comparison-data

    .row{:style=>'margin-top: 2em;'}
      .span5
        .before-data
          .chart-title
          .chart
          .table
      .span5.offset2
        .after-data
          .chart-title
          .chart
          .table

  #search-comparison-content
    = image_tag 'ajax_loader.gif', :class=>'ajax-loader'
