.row-fluid
  .span3
    .weekly-info-title    
      .week-picker
        %select#week-selector
          - get_weeks.each do |week_info|
            - set_disabled = false
            - selected_week = false
            - if @unavailable_weeks.include?(week_info[:week] + 3)
              - set_disabled = true
            - curr_week = week_info[:week]
            - start_date = week_info[:start_date]
            - end_date = week_info[:end_date]
            - start_date_str = start_date.strftime("%b %d, %Y")
            - end_date_str = end_date.strftime("%b %d, %Y")
            
            - if (@week.to_i == curr_week + 3)
              - selected_week = true
              - @start_date = start_date
              - @end_date = end_date
            %option{:value=>(curr_week + 3), :disabled=>set_disabled,
              :selected => selected_week}
              = "Wk# #{curr_week} #{start_date_str} - #{end_date_str}"              
  .span5.talign-center
    %form#query-search.form-search{:method=>:post,
      :action=>'/dept_analysis/query'}

      %input.input-medium.search-query{:type=>'text', :name=>:query,
        :placeholder => 'Search Query', :style=>'display:inline-block;'}
      %input{:type=>'hidden', :name=>:cat_id, :value => @cat_id}
      %input{:type=>'hidden', :name=>:vew, :value => @view}
      %input{:type=>'hidden', :name=>:date, :value => @date}
      %input{:type=>'hidden', :name=>:week, :value => @week}
      %input{:type=>'hidden', :name=>:year, :value => @year}
      %button.btn{:type=>:submit}
        Search

  .span3.daily-weekly.fsize-normal
    %span
      - if @view == 'daily'
        %span.daily-active= @date.strftime("%b %d, %Y")
      - else  
        %a.daily{:href=>'#'} Daily View
    &nbsp;
    %span
      - date_str = "Week #{@week - 3} FY2014"
      - if @view == 'weekly'
        %span.weekly-active
          = date_str 
        .in-next-line
          %span.fsize-small
            - start_date_str = @start_date.strftime('%b %d %Y') 
            - end_date_str = @end_date.strftime('%b %d %Y') 
            = "#{start_date_str} to #{end_date_str}"     
      - else
        %a.weekly{:href=>"#"} Weekly View

.cat-breadcrumb-field
  - parent_cats = []
  - last_cat = false
  - @categories.each do |cat|
    - parent_cats << cat[:c_id]
    - options = {:cat_id=>parent_cats.join(',')}.merge(get_default_url_params)
    - last_cat = true if cat == @categories.last
    - if last_cat
      - css_classes = %w{cat-breadcrumb-active-field cat-breadcrumb}
    - else
      - css_classes = %w{cat-breadcrumb}
    = link_to cat[:c_name], options, {:class=>css_classes}
    - unless last_cat
      %span /
  
