table.table-condensed{:width=>'97%'} 
  thead
    tr.table-title-background-color
      th.four-percent-width= I18n.t('dashboard2.rank')
      th.twentyseven-percent-width= I18n.t('dashboard.query')
      th.fourteen-perdent-width= I18n.t('dashboard2.revenue_correlation')
      th.fourteen-percent-width= I18n.t('dashboard.revenue')
      th.fourteen-percent-width= I18n.t('dashboard.queries')
      th.nine-percent-width= I18n.t('perf_monitor2.conversion_rate')
      th.nine-percent-width= I18n.t('perf_monitor2.add_to_cart_rate')
      th.nine-percent-width= I18n.t('perf_monitor2.product_view_rate')

