<h1>New search_quality_daily</h1>

<form id="new-search_quality_daily" name="search_quality_daily">
  <div class="field">
    <label for="id"> id:</label>
    <input type="text" name="id" id="id" value="<%= id %>" >
  </div>

  <div class="field">
    <label for="query_str"> query_str:</label>
    <input type="text" name="query_str" id="query_str" value="<%= query_str %>" >
  </div>

  <div class="field">
    <label for="query_date"> query_date:</label>
    <input type="text" name="query_date" id="query_date" value="<%= query_date %>" >
  </div>

  <div class="field">
    <label for="query_count"> query_count:</label>
    <input type="text" name="query_count" id="query_count" value="<%= query_count %>" >
  </div>

  <div class="field">
    <label for="search_rev_rank_correlation"> search_rev_rank_correlation:</label>
    <input type="text" name="search_rev_rank_correlation" id="search_rev_rank_correlation" value="<%= search_rev_rank_correlation %>" >
  </div>

  <div class="field">
    <label for="ctr_ranks"> ctr_ranks:</label>
    <input type="text" name="ctr_ranks" id="ctr_ranks" value="<%= ctr_ranks %>" >
  </div>

  <div class="field">
    <label for="top_ctr_item"> top_ctr_item:</label>
    <input type="text" name="top_ctr_item" id="top_ctr_item" value="<%= top_ctr_item %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Search quality daily" />
  </div>

</form>

<a href="#/index">Back</a>