<td><%= id %></td>
<td><%= query_str %></td>
<td><%= query_date %></td>
<td><%= query_count %></td>
<td><%= search_rev_rank_correlation %></td>
<td><%= ctr_ranks %></td>
<td><%= top_ctr_item %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>