<p>
  <b>Id:</b>
  <%= id %>
</p>

<p>
  <b>Query str:</b>
  <%= query_str %>
</p>

<p>
  <b>Query date:</b>
  <%= query_date %>
</p>

<p>
  <b>Query count:</b>
  <%= query_count %>
</p>

<p>
  <b>Search rev rank correlation:</b>
  <%= search_rev_rank_correlation %>
</p>

<p>
  <b>Ctr ranks:</b>
  <%= ctr_ranks %>
</p>

<p>
  <b>Top ctr item:</b>
  <%= top_ctr_item %>
</p>


<a href="#/index">Back</a>