- content_for :title do
  #top-bar
    = render 'shared/title'
  
  #search-bar{style: 'display:none'}
    = render 'shared/query_sub_tabs'
  
  #browse-bar{style: 'display:none'}
    = render 'shared/query_sub_tabs'
  
  #category-bar{style: 'display:none'}
    = render 'shared/query_sub_tabs'
  
  #eval-bar{style: 'display:none'}
    = render 'shared/eval_sub_tabs'

- content_for :main_content do
  = javascript_include_tag :application
  = javascript_include_tag "//mdw.walmartlabs.com/mdw.js"
  = render :partial => 'shared/main_content'
