- intFormatter = new Backgrid.NumberFormatter({decimals: 0})
- intFormatterDefault = new Backgrid.NumberFormatter()
div.query-info
  span Query : &nbsp;
  span.query-value
    = query
table.table.table-bordered
  thead
    tr
      th Traffic
      th Conversion
      th PVR
      th ATC
      th Revenue
  tbody
    if metric
      tr.success
        td= intFormatter.fromRaw(metric.query_count)
        td= intFormatterDefault.fromRaw(metric.query_con * 100) + '%'
        td= intFormatterDefault.fromRaw(metric.query_pvr * 100) + '%'
        td= intFormatterDefault.fromRaw(metric.query_atc * 100) + '%'
        td= intFormatter.fromRaw(metric.query_revenue) + '$'
    else
      tr
        td 
          i No Data Available
