!!!
%html
  %head
    %title
      Consumer Analytics Dashboard
    %link{:rel=>:icon, :type=>'image/png',
      :href=>'assets/walmart-transparent.png'}
    = stylesheet_link_tag 'application'
    :scss
      .test {
        width: 100%;
      }
      .side-bar {
        height: 100em;
        vertical-align: top;
      }
      .date-picker-input {
        width: 80% !important;
      }
      .test-title-box {
        line-height: 3em;
      }
      .dashboard-search-quality-container, .dashboard-poorly-performing-container {
        width: 36em;
      }
      .content-header, .widget-header {
        line-height: 2em;
        font-weight: bold;
        padding-left: .2em;
        border: thin solid silver;
      }
      .widget-header {
        color: black;
      }
      .close1 {
        padding-right: 0.5em !important;
      }
      .side-title {
        font-size: 1.2em;
        color: #2f7ed8;
      }
      .side-title-item {
        padding-left: 0em;
        font-size: small;
      }
      .inner-container {
        margin: 0 2em 0 2em;
      }
      .tab-title {
        font-size: 1.2em;
      }
      .side-nav {
        display:inline-block;
        width:10%;
      }
      .main-content-container {
        display:inline-block;
        vertical-align:top;
        margin-left: 1em;
        width: 88%;
        position: relative;
      }
      .main-content {
        display: inline-block;
        width: 100%;
      }
      #dashboard {
        display: none;
      }
      .dashboard-tab {
        display: none;
      }
      .walmart_logo {
        height: 33px;
        width: 33px;
        margin-top: -13px;
        margin-bottom: -9px;
      }
      .date {
        margin-right: 1em;
      }
      .date-picker-container {
        display:inline-block;
        position:absolute;
        right: 0em;
        top: 0em;
        margin-bottom: 1em;
      }
      .date-week-holder {
        color: white;
        margin-right: 1em;
        line-height: 3em;
      }
      #dp3 {
        cursor: pointer;
      }
      .funnel-title {
        margin-right: 1em;
      }
      .chart-title {
        text-align: center;
      }
      .cad-success {
        background-color: #dff0d8;
      }
      .cad-error {
        background-color: #f2dede;
      }
    = yield :stylesheets
    = csrf_meta_tag 
  
  %body
    = yield :title
    .container{style:'margin-top:1.5em'}
      .row
        %ul.nav.nav-tabs.master-tab{:style=>'display:none'}
      .row
        #data-container
          = yield :main_content
    = yield :javascript
