!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag 'application'
    :scss
      .test {
        width: 100%;
      }
      .side-bar {
        height: 100em;
        vertical-align: top;
      }
      .date-picker-input {
        width: 80% !important;
      }
      .test-title-box {
        line-height: 3em;
      }
      .dashboard-search-quality-container, .dashboard-poorly-performing-container {
        width: 36em;
      }
      .content-header, .widget-header {
        line-height: 2em;
        font-weight: bold;
        padding-left: .2em;
        border: thin solid silver;
      }
      .widget-header {
        color: black;
      }
      .close {
        padding-right: 0.5em !important;
      }
      .ajax-loader {
        display: none;
        margin-right: auto;
        margin-left: auto;
        padding-top:2em;
      }
      .side-title {
        font-size: 1.2em;
        color: #2f7ed8;
      }
      .side-title-item {
        padding-left: 0em;
        font-size: small;
      }
      .inner-container {
        margin: 0 2em 0 2em;
      }
      .tab-title {
        font-size: 1.2em;
      }
      .side-nav {
        display:inline-block;
        width:10%;
      }
      .main-content-container {
        display:inline-block;
        vertical-align:top;
        margin-left: 1em;
        width: 88%;
        position: relative;
      }
      .main-content {
        display: inline-block;
        width: 100%;
      }
      #dashboard {
        display: none;
      }
      .dashboard-tab {
        display: none;
      }
      .walmart_logo {
        height: 33px;
        width: 33px;
        margin-top: -13px;
        margin-bottom: -9px;
      }
      .date-picker-container {
        display:inline-block;
        position:absolute;
        right: 0em;
        top: 0em;
        margin-bottom: 1em;
      }
      .input-append {
        margin-bottom: 0px;
        vertical-align: inherit;
      }
      tr.selected {
        background-color: rgba(47, 126, 216, .07);
      }
    = yield :stylesheets
    = csrf_meta_tag 
  
  %body
    = render 'shared/title'
    .container
      .row
        %ul.nav.nav-tabs.master-tab
          %li.active
            %a
              .tab-title.add-widget
                %i.icon-plus
                Add a widget
              
              .tab-title.dashboard-tab
                Dashboard 
          %li.tab-title.search-quality-tab
            %a{:href=>'#search'}
              Search Relevance 
              
          %li.tab-title.poor-performing-tab
            %a{:href=>'/#poor_performing'}
              Poor Performing Intents 

          %li.tab-title.search-tab.pull-right
            %form.form-search{:style=>'margin:0'}
              %input.input-medium.search-query{:type=>:text,
                :style=>'width:20em'}
              %button.btn{:type=>:submit}
                Search

        .modal.hide.fade
          .modal-header
            .widget-header
              Add a new Widget
              %button.close.pull-right
                &times;
          .modal-body.fsize-small
            %form#widget-dialog
              %label
                Widget Title
              %input{:type=>:text, :placeholder=>'Widget Title',
                :name=>:widget_title}
              %label
                Select a widget
              %select
                %option
                  Search Quality Queries
                %option
                  Poorly Performing Product Intents
              
              %label
                Filter this data
              %a
                Add a filter
          .modal-footer
            %a.btn.cancel-widget
              Cancel
            %a.btn.btn-primary.save-widget
              Add Widget 


      .row
        #data-container
          = yield :test_content
     
        
    = javascript_include_tag :application
    = yield :javascript
